body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--color);
    background-color: var(--background-color);
}

.welcome-section {
    text-align: justify;
}
.grande-partie{
    margin: 3% 20%;
}
.welcome-section h1,
.join-section h2 {
    color: var(--title-color);
    text-align: center;
}

a.btn-inscription {
    color: var(--link-color);
    text-align: center;
    text-decoration: none;
}

a.btn-inscription:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
    font-weight: bold;
    
}